/dts-v1/;
/plugin/;

/ {
	compatible = "phytium,pi";

	fragment@0 {
		target-path = "/";
		__overlay__ {
			#address-cells = <2>;
			#size-cells = <2>;

			gpioctl-iopad-zsh@32b30000 {
				compatible = "phytium,gpioctl-iopad-zsh";
				reg = <0x0 0x32b30000 0x0 0x1000>;
				status = "okay";
			};
		};
	};
};
